<div class="content">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1>Add A Pour</h1>
      <form {{action 'post' on='submit'}}>
        <div class="form-group">
          {{input class="form-control brewery" type="post" required="true" autofocus="true" placeholder="Brewery" value=brewery}}
        </div>
        <div class="form-group">
          {{input class="form-control beerName" type="post" required="true" autofocus="true" placeholder="Name of beer" value=beerName}}
        </div>
        <div class="form-group">
          {{input class="form-control venue" type="post" required="true" autofocus="true" placeholder="Venue" value=venue}}
        </div>
        <div class="form-group">
          {{input class="form-control rating" type="post" required="false" autofocus="true" placeholder="Your rating: 1-5 (low to high)" value=beerRating}}
        </div>
        <button class="btn btn-primary" type="submit">Add A Pour</button>
        {{#if error}}<div>Error: {{error}}.</div>{{/if}}
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
