<div class="content">
  <h1>Flowing Taps</h1>

    <form {{action 'post' on='submit'}}>
      {{input class= "brewery" type="post" required="true" autofocus="true" placeholder="Enter Brewery." value=brewery}}
      {{input class= "beerName" type="post" required="true" autofocus="true" placeholder="Enter Beer Name." value=beerName}}
      {{input class= "venue" type="post" required="true" autofocus="true" placeholder="Enter Venue." value=venue}}
      {{input class= "rating" type="post" required="false" autofocus="true" placeholder="Enter A Beer Rating." value=beerRating}}
      <br><button type="submit">Save A Pour</button>
      {{#if error}}<div>Error: {{error}}.</div>{{/if}}
    </form>
