<div class="content">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1>Add A Pour</h1>
      <form {{action 'post' on='submit'}}>
        <div class="form-group">
          {{!-- {{render 'autocomplete'}} --}}
          {{!-- TODO: remove the next one in favor of the auto-complete --}}
          {{focus-input class="form-control brewery" type="post" required="true" autofocus="true" placeholder="Brewery" value=brewery}}
        </div>
        <div class="form-group">
          {{input class="form-control beerName" type="post" required="true" placeholder="Name of beer" value=beerName}}
        </div>
        <div class="form-group">
          {{input class="form-control venue" type="post" required="true"  placeholder="Venue" value=venue}}
        </div>
        
        <div class="form-group">
          <div class="btn-group">
            <button type="button" {{bind-attr class=":rating1 :btn isRating1:btn-info:btn-default"}} {{action 'choose1'}}>Undrinkable</button>
            <button type="button" {{bind-attr class=":rating2 :btn isRating2:btn-info:btn-default"}} {{action 'choose2'}}>Disappointing</button>
            <button type="button" {{bind-attr class=":rating3 :btn isRating3:btn-info:btn-default"}} {{action 'choose3'}}>Solid</button>
            <button type="button" {{bind-attr class=":rating4 :btn isRating4:btn-info:btn-default"}} {{action 'choose4'}}>Great</button>
            <button type="button" {{bind-attr class=":rating5 :btn isRating5:btn-info:btn-default"}} {{action 'choose5'}}>Awesome</button>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Add A Pour</button>
        {{#if error}}<div>Error: {{error}}.</div>{{/if}}
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
