<h1>Pours</h1>
<ul class="pours">
{{#each}}
  <li>
    {{#if isNewPour}}
      <span class="breweryGreen">{{brewery}}</span>
      <span class="beerNameGreen">{{beerName}}</span>
      <span class="venue">at {{venue}}</span>
      <span class="beerRatingGreen"> {{ratingDescriptor}}</span>
    {{else}}
      {{#if isOldPour}}
        <span class="breweryRed">{{brewery}}</span>
        <span class="beerNameRed">{{beerName}}</span>
        <span class="venue">at {{venue}}</span>
        <span class="beerRatingRed"> {{ratingDescriptor}}</span>
      {{else}}
        <span class="breweryYellow">{{brewery}}</span>
        <span class="beerNameYellow">{{beerName}}</span>
        <span class="venue">at {{venue}}</span>
        <span class="beerRatingYellow"> {{ratingDescriptor}}</span>
      {{/if}}
    {{/if}}
  </li>
{{/each}}
</ul>
