<h1>Pours</h1>
<ul class="pours">
{{#each}}
  <li>
    <span {{bind-attr class=":brewery isNewPour:new isOldPour:old isTweenPour:tween"}}>{{brewery}}</span>
    <span {{bind-attr class=":beerName isNewPour:new isOldPour:old isTweenPour:tween"}}>{{beerName}}</span>
    <span class="venue">at <button class="mapToVenue">{{venue}}</button></span>
    <span {{bind-attr class=":beerRating isNewPour:new isOldPour:old isTweenPour:tween"}}> {{ratingDescriptor}}</span>
  </li>
{{/each}}
</ul>
