<h1>Pours You've Shared</h1>
<ul class="pours">
{{#each}}
  <li>
    {{#if isNewPour}}
      <span class="brewery new">{{brewery}}</span>
      <span class="beerName new">{{beerName}}</span>
      <span class="venue">at {{venue}}</span>
      <span class="beerRating new"> {{ratingDescriptor}}</span>
    {{else}}
      {{#if isOldPour}}
        <span class="brewery old">{{brewery}}</span>
        <span class="beerName old">{{beerName}}</span>
        <span class="venue">at {{venue}}</span>
        <span class="beerRating old"> {{ratingDescriptor}}</span>
      {{else}}
        <span class="brewery tween">{{brewery}}</span>
        <span class="beerName tween">{{beerName}}</span>
        <span class="venue">at {{venue}}</span>
        <span class="beerRating tween"> {{ratingDescriptor}}</span>
      {{/if}}
    {{/if}}
  </li>
{{/each}}
</ul>
